{% extends 'Study_Buddy_App/base.html' %}
{% load static %} 
{% block content %}

    <header>
      <div id="services-overview" class="text-center">
        <div>
          <img src="{% static 'images/Study_Buddy_Title.png' %}" height="400rem" width="400rem" alt="Study Buddy Title">
        </div>
      </div>
    </header>

    <div class="container text-center block">
      <hr class="border-3 border-light">
      <div class="row mb-3 text-center justify-content-center mx-auto card-block">
        <div class="col-lg-3 col-md-6 mb-3">
          <div class="card shadow-sm">
            <a href="{% url 'subjects' %}">
              <div class="card-header px-0 py-0">
                  <img class="img-fluid" src="{% static 'images/Subjects.png' %}" alt="Subjects">
              </div>
            </a>
            <div class="card-body text-dark">
              <h3 class="card-title">
                Subjects
              </h3>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-3">
          <div class="card shadow-sm">
            <a href="{% url 'schedule' %}">
              <div class="card-header px-0 py-0">
                  <img class="img-fluid" src="{% static 'images/schedule.png' %}" alt="Schedule">
              </div>
            </a>
            <div class="card-body text-dark">
              <h3 class="card-title">
                Schedule
              </h3>
            </div>
          </div>
        </div>

        <!-- The Templates was planned feature for the project. But since it is ambiguous with the current project
        scope, it is removed out for the time being, and is to be treated as a future project scope -->
        <!--
        <div class="col-lg-3 col-md-6 mb-3">
          <div class="card shadow-sm">
            <a href="{% url 'templates' %}">
              <div class="card-header px-0 py-0">
                  <img class="img-fluid" src="{% static 'images/Templates.png' %}" alt="Templates">
              </div>
            </a>
            <div class="card-body text-dark">
              <h3 class="card-title">
                Templates
              </h3>
            </div>
          </div>
        </div>
        -->

        <div class="col-lg-3 col-md-6 mb-3">
          <div class="card shadow-sm">
            <a href="{% url 'tasks' %}">
              <div class="card-header px-0 py-0">
                  <img class="img-fluid" src="{% static 'images/task.png' %}" alt="Tasks">
              </div>
            </a>
            <div class="card-body text-dark">
              <h3 class="card-title">
                Tasks
              </h3>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-3">
          <div class="card shadow-sm">
            <a href="{% url 'submissions' %}">
              <div class="card-header px-0 py-0">
                  <img class="img-fluid" src="{% static 'images/submission.png' %}" alt="Submissions">
              </div>
            </a>
            <div class="card-body text-dark">
              <h3 class="card-title">
                Submissions
              </h3>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-3">
          <div class="card shadow-sm">
            <a href="{% url 'report' %}">
              <div class="card-header px-0 py-0">
                  <img class="img-fluid" src="{% static 'images/Report.png' %}" alt="Report">
              </div>
            </a>
            <div class="card-body text-dark">
              <h3 class="card-title">
                Report
              </h3>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-3">
          <div class="card shadow-sm">
            <a href="{% url 'help' %}">
              <div class="card-header px-0 py-0">
                  <img class="img-fluid" src="{% static 'images/help.png' %}" alt="Help">
              </div>
            </a>
            <div class="card-body text-dark">
              <h3 class="card-title">
                Help
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}
