{% extends 'Study_Buddy_App/base.html' %}
{% load static %}
{% block content %}

    <header>
        <div class="container h-100 mt-5 py-5">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100">
                    <h1 class="display-3">
                        Information
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="info">
            <div class="container-md">
                <hr class="border-3">
                <div class="row g-5 align-items-center subjects-block">

                    <div class="accordion" id="info">
                        <div class="col-md-12">
                            <div class="accordion-item my-2">
                                <h2 class="accordion-header" id="home-tab-header">
                                    <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#home-tab">
                                        Home
                                    </button>
                                </h2>
                                <div
                                id="home-tab"
                                class="accordion-collapse collapse"
                                data-bs-parent="#info">
                                    <ul class="list-group">
                                      <li class="list-group-item">The Home screen serves as the central hub of the application, offering access to key functionalities through navigation tabs.</li>
                                      <li class="list-group-item">Top Navigation Bar:
                                        <ul>
                                          <li>Contains tabs such as Subject, Schedule, Task, Submission, Reports, and Information, enabling users to switch between different sections.</li>
                                        </ul>
                                      </li>
                                      <li class="list-group-item">Bottom Navigation Bar:
                                        <ul>
                                          <li>Displays copyright information ("Copyright Study Buddy 2024") and provides a "Back to Top" option for easy navigation within long pages.</li>
                                        </ul>
                                      </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 my-2">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="subjects-tab-header">
                                    <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#subjects-tab">
                                        Subjects
                                    </button>
                                </h2>
                                <div
                                id="subjects-tab"
                                class="accordion-collapse collapse mx-3"
                                data-bs-parent="#info">
                                    <ul class="list-group mt-2 mb-3">
                                        <li class="list-group-item">Users can add and delete subjects using the plus symbol (+).</li>
                                        <li class="list-group-item">Clicking the plus icon opens a subject form to create a new subject.</li>
                                        <li class="list-group-item">Mandatory to fill in the subject name and description in the subject form.</li>
                                        <li class="list-group-item">Press submit to update the list of subjects.</li>
                                        <li class="list-group-item">After creating a subject, open it by clicking on the subject title tab. You will have two options available: either to create a topic or a task within the subject.</li>
                                      </ul>

                                      <h4>Creating a Topic:</h4>
                                      <ul class="list-group mb-3">
                                        <li class="list-group-item">Click the plus symbol (+) at the end of the Topic section to open the add topic form.</li>
                                        <li class="list-group-item">Fill in the Topic Name and submit to update the list of topics.</li>
                                      </ul>

                                      <h4>Creating a Task:</h4>
                                      <ul class="list-group mb-3">
                                        <li class="list-group-item">Click the plus symbol (+) at the end of the Task section to open the Add Task form.</li>
                                        <li class="list-group-item">Write the Task name and deadline, then press submit to update the list of tasks.</li>
                                      </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 my-2">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="schedule-tab-header">
                                    <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#schedule-tab">
                                        Schedule
                                    </button>
                                </h2>
                                <div
                                id="schedule-tab"
                                class="accordion-collapse collapse"
                                data-bs-parent="#info">
                                    <ul class="list-group">
                                      <li class="list-group-item">7-day calendar for planning study sessions.</li>
                                      <li class="list-group-item">Students can update schedules for the next 7 days.</li>
                                      <li class="list-group-item">Previous sessions/tasks auto-delete after the 7th day.</li>
                                      <li class="list-group-item">Choose between creating study sessions for topics or tasks.</li>
                                      <li class="list-group-item">Notification for schedule overlaps; automatic adjustments if acknowledged.</li>
                                      <li class="list-group-item">Example: If a session is from 1 pm to 3 pm and a new task is added from 1 pm to 2 pm, the calendar will adjust.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- The Templates was planned feature for the project. But since it is ambiguous with the current project
                        scope, it is removed out for the time being, and is to be treated as a future project scope -->
                        <!--
                            <div class="col-md-12 my-2">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="templates-tab-header">
                                        <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#templates-tab">
                                            Templates
                                        </button>
                                    </h2>
                                    <div
                                    id="templates-tab"
                                    class="accordion-collapse collapse"
                                    data-bs-parent="#info">
                                        Content For Templates
                                    </div>
                                </div>
                            </div>
                        -->

                        <div class="col-md-12 my-2">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="tasks-tab-header">
                                    <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#tasks-tab">
                                        Tasks
                                    </button>
                                </h2>
                                <div
                                id="tasks-tab"
                                class="accordion-collapse collapse"
                                data-bs-parent="#info">
                                    <ul class="list-group">
                                      <li class="list-group-item">Display a list of tasks with their deadlines.</li>
                                      <li class="list-group-item">Users can mark tasks as completed and submit them.</li>
                                      <li class="list-group-item">Users have the option to delete tasks.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 my-2">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="submissions-tab-header">
                                    <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#submissions-tab">
                                        Submissions
                                    </button>
                                </h2>
                                <div
                                id="submissions-tab"
                                class="accordion-collapse collapse"
                                data-bs-parent="#info">
                                    <ul class="list-group">
                                      <li class="list-group-item">Displays a list of tasks that have been submitted, along with their submission dates.</li>
                                      <li class="list-group-item">Users can view their submitted tasks and track their progress.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 my-2">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="report-tab-header">
                                    <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#report-tab">
                                        Report
                                    </button>
                                </h2>
                                <div
                                id="report-tab"
                                class="accordion-collapse collapse"
                                data-bs-parent="#info">
                                    <ul class="list-group">
                                      <li class="list-group-item">Provides a summary of study time hours spent during the week across different subjects and topics.</li>
                                      <li class="list-group-item">Users can review their study time allocation and progress for better organization and planning.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock content %}
