/* Defaults styling for the entire webpage */
html, body {
    width: 100%;
    height: 100%;
    margin: 0, auto;
    color: white;
}

p {
    color: white;
}

/* To fix the background image with dark opacity */
header {
    position: relative;
    /* min-height: 10rem; */
    width: 100%;
    overflow: hidden;
}

.background-image {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;

    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -mos-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.container {
    position: relative;
    z-index: 2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.65;
    z-index: -1;
}


/* Background color, and other styles for the footer */
footer a {
    text-decoration: none;
    color: rgba(255,255,255,.5);
}

footer a:hover {
    text-decoration: none;
    color: rgba(255,255,255,0.85);
}

/* Styling the home card container*/
.block {
    width: min(75%, 1140px);
}

.block .card-header img{
    max-width: min(100%, 8rem);
}

.block .card-header {
    filter: brightness(80%);
    transition: all 0.3s ease; /* Add transition for smooth effect */
}

.block .card-header:hover {
    transform: scale(1.1); /* Increase size on hover */
    filter: brightness(100%); /* Reduce brightness on hover */
}

/* To set the min height for main element */
main {
    min-height: 75vh;
}

/* Styling the subjects session card */
.block1 .card .uRow {
    border-bottom: 1px solid rgb(195, 220, 243);
}

/* Styling the add subject button */
.add-form-button {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
}

.form-button-image {
    width: 100%;
    height: auto;
    display: block;
}

/* Styling the time blocks in schedule page */
.top-overlap {
    margin-top: -20px;
}

.bottom-overlap {
    margin-bottom: -20px;
}

.time-blocks {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
.grid-container {
    display: grid;
    grid-template-columns: 1fr 14fr;
}
  
.grid-item {
    flex-grow: 1;
    min-width: 0;
}
  
/* Styling the day-selector in templates */
.day-selector {
    z-index: 4;
}

/* Styling the sumbission card */
.card-header-green {
    background-color: rgb(194, 250, 194);
}

/* Styling the form containers */
.form-container {    
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-div {
    max-height: 0;
    transition: all 0.8s ease;
    overflow: hidden;
}

.form-container-no-margin {
    margin: 0;
}
